@using Oqtane.Modules.Controls
@using Itm.DailyWorkRecords.Services
@using Itm.DailyWorkRecords.Models

@namespace Itm.DailyWorkRecords
@inherits ModuleBase
@inject IDailyWorkRecordService DailyWorkRecordService
@inject NavigationManager NavigationManager

<table class="table table-borderless">
    <tr>
        <td>
            <label class="control-label">Work for date: </label>
        </td>
        <td>
            <input id="_workDate" class="form-control" @bind="@_workDate" />
        </td>
    </tr>
    <tr>
        <td>
            <label class="control-label">Shift: </label>
        </td>
        <td>
            <select class="form-control selectpicker" @bind="_shiftId">
                <option>--select--</option>
                @*@foreach (var item in Countries)
                {
                    <option value="@item.Id">@item.Name</option> // Blazor needs to know what values it binds to!
                }*@
            </select>
        </td>
    </tr>
</table>
<button type="button" class="btn btn-success" @onclick="Save">Save</button>
<NavLink class="btn btn-secondary" href="@NavigateUrl()">Cancel</NavLink>
<br />
<br />
@if (PageState.Action == "Edit")
{
    <AuditInfo CreatedBy="@_createdby" CreatedOn="@_createdon" ModifiedBy="@_modifiedby" ModifiedOn="@_modifiedon"></AuditInfo>
}

@code {
    public override SecurityAccessLevel SecurityAccessLevel => SecurityAccessLevel.Edit;

    public override string Actions => "Add,Edit";

    public override List<Resource> Resources => new List<Resource>()
    {
        new Resource { ResourceType = ResourceType.Stylesheet, Url = ModulePath() + "Module.css" }
    };

    int _id;
    int _shiftId;
    string _workDate;
    string _createdby;
    DateTime _createdon;
    string _modifiedby;
    DateTime _modifiedon;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            

            if (PageState.Action == "Edit")
            {
                _id = Int32.Parse(PageState.QueryString["id"]);
                DailyWorkRecord DailyWorkRecord = await DailyWorkRecordService.GetDailyWorkRecordAsync(_id, ModuleState.ModuleId);
                if (DailyWorkRecord != null)
                {
                    _workDate = DailyWorkRecord.DailyWork.Date.ToString();
                    _createdby = DailyWorkRecord.DailyWork.CreatedBy;
                    _createdon = DailyWorkRecord.DailyWork.CreatedOn;
                    _modifiedby = DailyWorkRecord.DailyWork.ModifiedBy;
                    _modifiedon = DailyWorkRecord.DailyWork.ModifiedOn;
                }
            }
        }
        catch (Exception ex)
        {
            await logger.LogError(ex, "Error Loading DailyWorkRecord {DailyWorkRecordId} {Error}", _id, ex.Message);
            AddModuleMessage("Error Loading DailyWorkRecord", MessageType.Error);
        }
    }

    private async Task Save()
    {
        try
        {
            if (PageState.Action == "Add")
            {
                DailyWorkRecord DailyWorkRecord = new DailyWorkRecord();
                DailyWorkRecord.DailyWork.ModuleId = ModuleState.ModuleId;
                DailyWorkRecord.DailyWork.Date = DateTime.Parse(_workDate);
                DailyWorkRecord = await DailyWorkRecordService.AddDailyWorkRecordAsync(DailyWorkRecord);
                await logger.LogInformation("DailyWorkRecord Added {DailyWorkRecord}", DailyWorkRecord);
            }
            else
            {
                DailyWorkRecord DailyWorkRecord = await DailyWorkRecordService.GetDailyWorkRecordAsync(_id, ModuleState.ModuleId);
                DailyWorkRecord.DailyWork.Date = DateTime.Parse(_workDate);
                await DailyWorkRecordService.UpdateDailyWorkRecordAsync(DailyWorkRecord);
                await logger.LogInformation("DailyWorkRecord Updated {DailyWorkRecord}", DailyWorkRecord);
            }
            NavigationManager.NavigateTo(NavigateUrl());
        }
        catch (Exception ex)
        {
            await logger.LogError(ex, "Error Saving DailyWorkRecord {Error}", ex.Message);
            AddModuleMessage("Error Saving DailyWorkRecord", MessageType.Error);
        }
    }
}
